<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
                <td><a href="/users/delete/{{user.id}}">delete</a>
                    <a href="/users/show/{{user.id}}">show</a>
                    <a href="/users/edit/{{user.id}}">edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/user/new">Add a User</a>
</body>
</html>